<html>
  <head>
    <title>Face Recognition Test</title>
    <link href="css/camera.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Face Recognition Test</h1>
    <br>
    <p>
      <button id='compare_image'>Compare Image</button>
    </p>
    <div id='upload_status'></div>
    <div id='upload_result'></div
    <br>
  </body>
</html>
